<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
    </head>
    
    <body>
        <div class="main">
            {{>header}}
            <p>Used data from mapbox and weatherstack api</p>
            <img class="potrait" src = "/img/Chrysanthemum.jpg">
        </div>
        
        {{>footer}} 
    </body>
</html>
